<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Applicatoin gestion de prospection</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="{{ asset ('assets/plugins/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="{{ asset('assets/css/headers/header-v6.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/footers/footer-v6.css') }}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{{ asset('assets/plugins/animate.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/plugins/sliding-panel/style.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/plugins/owl-carousel/owl-carousel/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="{{ asset('assets/css/theme-colors/default.css') }}" id="style_color">
	<link rel="stylesheet" href="{{ asset('assets/css/theme-skins/dark.css') }}">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
</head>

<body class="header-fixed header-fixed-space promo-padding-top sliding-panel-ini sliding-panel-flag-right">
	<div class="wrapper">
		<!--=== Header v6 ===-->
		<div class="header-v6 header-classic-white header-sticky">
			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="menu-container">
						<button type="button" class="navbar-toggle sliding-panel__btn sliding-panel__btn--dark">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- Navbar Brand -->
						<div class="navbar-brand">
							<a href="index.html">
							<h1>PROSPEC</h1>
							</a>
						</div>
						<!-- ENd Navbar Brand -->

						<!-- Header Inner Right -->
						<div class="header-inner-right">
							<ul class="menu-icons-list">

								<li class="menu-icons">
									<i class="menu-icons-style search search-close search-btn fa fa-search"></i>
									<div class="search-open">
										<input type="text" class="animated fadeIn form-control" placeholder="Rechercher ...">
									</div>
								</li>
							</ul>
						</div>
						<!-- End Header Inner Right -->
					</div>
				</div>
			</div>
			<!-- End Navbar -->
		</div>
		<!--=== End Header v6 ===-->

		<!-- Promo Block -->
		<div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
			<div class="container text-center" data-start="opacity: 1;" data-320="opacity: 0;">
				<div class="margin-bottom-20">
					<a class="promo-video-icon-wrap color-light rounded-x animated fadeInUp wow cbp-lightbox" data-wow-duration="2s" data-wow-delay=".5s" data-title="Video Presentation" href="https://player.vimeo.com/video/58363288?&rel=0&autoplay=1">
						<i class="promo-video-icon icon-control-play"></i>
					</a>
					<div id="cbp-lightbox" class="dp-none"></div>
				</div>

				<span class="promo-text-v1 color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay="1s">
					Application Prospec
				</span>

				<h2 class="promo-text-v2 color-light animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s" data-wow-delay="1.5s">Gestion des prospections</h2>

				<div class="animated fadeInUp wow" data-wow-duration="1.2s" data-wow-delay="2s">
					<a href="{{ path('app_user_user_signup') }}" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x margin-right-10">Inscription</a>
					<a href="{{ path('login') }}" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x margin-right-10">Connexion</a>
				</div>
			</div>
		</div>
		<!-- End Promo Block -->








	</div><!--/wrapper-->

	<!-- Sliding Panel -->
	<div class="sliding-panel bg-color-darker">
		<div class="sliding-panel-inner sliding-panel-scrollable fullscreen">
			<ul class="sliding-navigation">
				<li><a href="index.html">Home</a></li>
				<li><a href="page_about3.html">Abour Us</a></li>
				<li><a href="page_services.html">Services</a></li>
				<li><a href="page_profile.html">Profile</a></li>
				<li><a href="blog_large_right_sidebar1.html">Blog</a></li>
				<li><a href="portfolio_3_columns_grid_text.html">Our Work</a></li>
				<li><a href="page_contact1.html">Contact Us</a></li>
			</ul>

			<h4>Contacts</h4>
			<address>
				58, Lorem Lis Street, Central Ave<br>
				New York, US<br><br>
				Phone: 938 334 6049<br>
				Fax: 938 334 6050<br><br>
				Email: <a href="mailto:#">info@htmlstream.com</a><br>
			</address>

			<ul class="list-inline social-icons-v1 social-icons-v1--dark">
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>

		<a href="javascript:void(0);" class="sliding-panel__close">Close</a>
	</div>
	<!-- End Sliding Panel -->


	<!-- JS Global Compulsory -->
	<script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
	<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- JS Implementing Plugins -->
	<script src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
	<script src="{{ asset('assets/plugins/smoothScroll.js') }}"></script>
	<script src="{{ asset('assets/plugins/jquery.parallax.js') }}"></script>
	<script src="{{ asset('assets/plugins/counter/waypoints.min.js') }}"></script>
	<script src="{{ asset('assets/plugins/counter/jquery.counterup.min.js') }}"></script>
	<script src="{{ asset('assets/plugins/skrollr/skrollr-ini.js') }}"></script>
	<script src="{{ asset('assets/plugins/wow-animations/js/wow.min.js') }}"></script>
	<script src="{{ asset('assets/plugins/backstretch/backstretch-ini.js') }}"></script>
	<script src="{{ asset('assets/plugins/sliding-panel/jquery.sliding-panel.js') }}"></script>
	<script src="{{ asset('assets/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
	<script src="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
	<!-- JS Page Level -->
	<script src="{{ asset('assets/js/app.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/style-switcher.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/owl-carousel.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/cube-portfolio/masonry-v1.js') }}"></script>
	<!-- JS Customization -->
	<script src="{{ asset('assets/js/custom.js') }}"></script>
	<!-- JS Initialization -->
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initParallaxBg();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
			new WOW().init();
			$('#cbp-lightbox').cubeportfolio({}); // For popup video on the promo block
		});
	</script>
	<!--[if lt IE 9]>
		<script src="assets/plugins/respond.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
