<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Gestion des prospections</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	{% block stylesheet %}
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">

		<!-- Web Fonts -->
		<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">


		<!-- CSS Header and Footer -->
		<link rel="stylesheet" href="{{ asset('assets/css/headers/header-default.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/footers/footer-v1.css') }}">

		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="{{ asset('assets/plugins/animate.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}">

		<!-- CSS Page Style -->
		<link rel="stylesheet" href="{{ asset('assets/css/pages/page_log_reg_v1.css') }}">

		<!-- CSS Theme -->
		<link rel="stylesheet" href="{{ asset('assets/css/theme-colors/default.css') }}" id="style_color">
		<link rel="stylesheet" href="{{ asset('assets/css/theme-skins/dark.css') }}">

		<!-- CSS Customization -->
		<link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
		<script type="text/javascript" src="{{ asset('assets/js/angular.min.js') }}"></script>
	{% endblock %}
</head>

<body  ng-app="DBModule" ng-controller="MainController">
	<div class="wrapper">
		{% block navbar %}
			{% include('_nav.html.twig') %}
		{% endblock %}

		<!--=== Content Part ===-->
		<div class="container content margin-top-20">
			<div class="row">

                    {{ include('_flash.html.twig') }}
				{% block body %}

				{% endblock %}
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->

		<!--=== Footer Version 1 ===-->
		{% block footer %}
			{% include('_footer.html.twig') %}
		{% endblock %}
		<!--=== End Footer Version 1 ===-->
	</div>


{% block javascript %}

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/smoothScroll.js') }}"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="{{ asset('') }}"></script>
	<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            StyleSwitcher.initStyleSwitcher();
        });
	</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
{% endblock %}
</body>
</html>
